.navbar {
    width: 16.5%;
    height: 100vh;
    background-color: #282c34;
    padding: 30px 0px;
    float: left;
}

.nav {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(49 55 67);
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
}

.nav-active {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #1d92ff;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
}